{% extends "layout.html" %}

{% block title %}
    Dashcam Segments
{% endblock %}

{% block main %}
{% autoescape false %}
    <br>
    <h1>Dashcam Segments (one per minute)</h1>
    <br>
    <video id="video" width="320" height="240" controls autoplay="autoplay" style="background:black"></video>
    <br><br>
    current segment: <span id="currentsegment"></span>
    <br>
    current view: <span id="currentview"></span>
    <br>

    <h3>Available Routes</h3>
    <form id="routesForm">
        {{ links | replace('<a href="', '<input type="checkbox" name="routes" value="') | replace('">', '"><a href="') }}
    </form>

    <button id="sendRoutes">Send All selected routes to G4 server</button>

    <script>
        document.getElementById('sendRoutes').addEventListener('click', function() {
            let selectedRoutes = [];
            document.querySelectorAll('input[name="routes"]:checked').forEach((checkbox) => {
                selectedRoutes.push(checkbox.value);
            });

            if (selectedRoutes.length === 0) {
                alert("Please select at least one route.");
                return;
            }

            fetch("/upload_selected_routes", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ routes: selectedRoutes })
            }).then(response => response.json()).then(data => {
                alert(data.message);
            }).catch(error => {
                console.error("Error:", error);
            });
        });
    </script>
{% endautoescape %}
    <br><br>
{% endblock %}
